*.fmb filter=lfs diff=lfs merge=lfs -text lockable
*.pll filter=lfs diff=lfs merge=lfs -text lockable
*.mmb filter=lfs diff=lfs merge=lfs -text lockable
*.rdf filter=lfs diff=lfs merge=lfs -text lockable
*.olb filter=lfs diff=lfs merge=lfs -text lockable
